*{
    padding: 0;
    margin: 0;
}
.tong{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}
.w{
    width: 1280px;
    height: 726px;
    margin: 0 auto;
}
/*左侧图*/
.left_z{
    height: 726px;
    width: 272px;
    text-align: center;
    float: left;
    margin-left: 60px;
    position: relative;
}
.left_z span{
    width: 272px;
    height: 198px;
    float: left;
    text-align: center;
    border: 1px solid #c1c1c1;
    margin-top: 68px;
}
.left_z .bg{
    width: 40px;
    height: 40px;
    float: left;
    background-color: #fec800;
    position: absolute;
    left: 4px;
    bottom: 0;
    cursor: pointer;
    text-align: center;
    color: #706f6f;
    line-height: 40px;
    z-index: 9999;
}
.left_z .bgt{
    width: 258px;
    height: 416px;
    float: left;
    background: rgba(254,200,0,0.5);
    line-height: 586px;
    position: absolute;
    left: 4px;
    bottom: 0;
    display: none;
}

.left_z span img{
    margin-top: 26px;
}
.bg img{
    margin-top: 5px;
}
.left_z .left_z_div {
    height: 431px;
    width: 272px;
    position: absolute;
    top: 303px;
    left: 0px;
}
/*中间图*/
.middle{
    float: left;
    margin-left: 29px;
    margin-top: 68px;
}
.middle .middle_x{
    margin-top: 12px;
}
.middle_s{
    position: relative;
}
.middle_s .bg{
    width: 40px;
    height: 40px;
    float: left;
    background-color: #e6007f;
    position: absolute;
    bottom:12px;
    left: 4px;
    cursor: pointer;
    color: #706f6f;
    text-align: center;
    line-height: 40px;
}
.middle_s .bgt{
    width: 444px;
    height: 374px;
    float: left;
    background: rgba(230,0,127,0.5);
    line-height:516px;
    position: absolute;
    left: 4px;
    bottom: 12px;
    display: none;
}
.middle_s .bgt img{
    margin-left: 150px;
}

.middle_x .tu{
    margin-right: 10px;
}
/*右侧图*/
.right_s{
    position: relative;
}
.right_s .bg{
    width: 40px;
    height: 40px;
    float: left;
    background-color: #09b5fb;
    position: absolute;
    bottom:12px;
    left: 4px;
    cursor: pointer;
    color: #706f6f;
    text-align: center;
    line-height: 40px;
}
.right_y{
    float: left;
    margin-top: 68px;
}
.right_s .bgt{
    width: 362px;
    height: 291px;
    float: left;
    background: rgba(9,181,251,0.5);
    line-height: 370px;
    position: absolute;
    left: 4px;
    bottom: 12px;
    display: none;
}
.right_s .bgt img{
    margin-left: 100px;
}
.right_y .right_x{
    margin-top: 15px;
}
.right_x{
    position: relative;
}
.right_x .bg{
    width: 40px;
    height: 40px;
    float: left;
    background-color: #96cd34;
    position: absolute;
    bottom:12px;
    left: 4px;
    cursor: pointer;
    color: #706f6f;
    text-align: center;
    line-height: 40px;
}
.right_x .bgt{
    width: 362px;
    height: 328px;
    float: left;
    background: rgba(150,205,52,0.5);
    line-height: 440px;
    position: absolute;
    left: 4px;
    bottom: 12px;
    display: none;
}
.right_x .bgt img{
    margin-left: 100px;
}
/*底部文字*/
.foot_f{
    height: 256px;
    width: 1128px;
    float: left;
    text-indent: 2em;
    font-size: 15px;
    color: #706f6f;
    line-height: 27px;
    margin-top: 32px;
    margin-left: 60px;
}


